.banner {
    background-image: url(https://images.unsplash.com/photo-1542401886-65d6c61db217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
  }
  
  .banner h1 {
    color: rgb(255, 255, 255);
  }
  
  .banner p {
    color: rgb(255, 255, 255);
    opacity: .7;
    font-size: 20px;
  }